body {
  padding: 0;
  margin: 0;
  background-color: rgb(33, 36, 77);
}

table {
  margin: 30px auto;
  border-radius: 10px;
  background-color: white;
  border-collapse: collapse;
  font-size: 17px;
}

th {
  background-color: rgb(21, 21, 59);
  color: white;
  padding: 10px;
  border-bottom: 1px solid;
}

td {
  text-align: center;
  background-color: rgb(243, 240, 240);
  padding: 10px;
  border-bottom: 1px solid;
}
